player-connection-mode=Listen
player-connection-guid=823812016
player-connection-debug=1
player-connection-wait-timeout=-1
player-connection-ip=192.168.136.1
player-connection-ip=192.168.27.1
player-connection-ip=192.168.1.123
player-connection-ip=192.168.137.1
profiler-enable-on-startup=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
